@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky; */
    top:0;
}
.navlist{
    width: 80%;
    /* background-color: pink; */
    display: flex;
    /* justify-content: center; */
    align-content: center;
}
.navlist li{
    list-style: none;
    padding: 8px 30px;
}
.navlist li a{
    text-decoration: none;
    color:black;
    font-family: 'Recursive', sans-serif;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
.navlist li a:hover{
    text-decoration: none;
    /* color:cyan; */
}
.rightnav{
    width: 30%;
    /* background-color: pink; */
    text-align: right;
    padding: 0 23px;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: black;
    height: 4px;
    margin: 5px 3px;
}
.background{
    /* background: rgba(0,0,0,0.7) url('../images/Image1.jpg'); */
    /* background-color: white */
    background-size: cover;
    background-blend-mode: darken;
}


@media only screen and (max-width: 1140px){
    .navlist{
        flex-direction: column;
        text-align: center;

    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 350px;
    }
    .rightnav{
        text-align: center;
    }
    .burger{
        display: block;
    }
    .sar{
        height: 72px;
    }
    .sar1{
        opacity: 0;
    }
}